@charset "utf-8";

h2 {
    background-image: url("../images/h2_bg_297x149.png");
    background-repeat: no-repeat;
    background-position: center;
}


h3 {
    background-image: url("../images/underline_179x13.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 35px;
    margin-bottom: 10px;
    font-size: 24px;
}

/* バナーhover */

.thumbnail {
    margin-bottom: 50px;
}

.gridArea {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
}

.gridArea li {
    transition: transform 0.5s;
}

.gridArea li:hover {
    transform: scale(1.2);
}

/*  */


.border-radius {
    background-color: #FFECD3;
    border-radius: 18px;
    padding: 18px;
    line-height: 2em;
    margin: 30px;
}

.list {
    max-width:420px;
    padding-left: 50px;
}

.space {
    line-height: 1.8em;
    margin-bottom: 10px;
}

.time {
    margin-bottom: 30px;
    line-height: 1.8em;
    padding: 20px;
    /* border-radius: 18px; */
    border-left: solid 7px #FFECD3;
}

.red {
    color: #EA5549;
}

li {
    text-indent: -1em;
    padding-left: 1em;
}

main .list li {
    border-bottom: solid 1px rgba(49, 39, 39, 0.5);
}

.food {
    margin: 30px 0px;
}

.recipe::after {
    content: "";
    display: block;
    background: url(../images/kpline_1280x142.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    max-width: 100%;
    padding: 8%;
    margin-bottom: 20px;
    /* height: 142px; */
}


.button-1 {
    transition: 0.3s;
    max-width: 576px;
    margin: 0 auto;
}

.button-1 a {
    display: block;
    color: transparent;
    font-size: 0;
    margin:50px 0;
    height: 110px;
    text-align: center;
    background-position: center bottom;
    background-image: url(../images/button_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.button-1 a:hover {
    background-image: url(../images/button_1_hover_opacity.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* transform: scale(1.1); */
}

.button-2 {
    transition: 0.3s;
    max-width: 576px;
    margin: 0 auto;
}


.button-2 a {
    display: block;
    color: transparent;
    font-size: 0;
    margin: 50px 0;
    height: 110px;
    text-align: center;
    background-position: center bottom;
    background-image: url(../images/button_2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.button-2 a:hover {
    background-image: url(../images/button_2_hover_opacity.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

main::after {
    content: "";
    display: block;
    background: url(../images/checkline_1260x116.png);
    background-size: 100%;
    max-width: 100%;
    height: 116px;
}


/* -----------------------------------------
  ここから768px以下の画面に向けた記述
----------------------------------------- */

/* 最小320px幅での表示でも表示崩れがない状態を目指す */
@media screen and (max-width:768px) {

    /* ★画像の縮まりすぎに対処 */

    img {
        max-width: 100%;
        height: auto;
    }

    /* 各所余白や文字サイズを細かく修正 */

    /* バナー部分 */

    .gridArea {
        grid-template-columns: repeat(2, 1fr);
        gap:10px 2.5px;
        margin:0 auto;
        width: 70%;
    }


    /* レシピ名と作り方の文字部分 */

    h2{
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        background-position: center bottom;
    }

.food{
    padding: 30px;
    margin: 0 auto;
    justify-content: center;    
}

    /* .レシピセクション内のテキスト部分 */
    .list {
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.5em;
        justify-content: center;
        padding-left: 0;
    }

    .border-radius {
        font-size: 14px;
        line-height: 1.5em;
    }

    /* 横並びを縦積みに変更して余白を再調整 */
    main .flex{
        flex-direction: column;
        margin: 0 20px 50px;
    }

    .button-1 a{
        margin: 15px 0;
    }

    .button-2 a{
        margin: 15px 0;
    }

}